
.sms-icon-address:before { content: '\e800'; } /* '' */
.sms-icon-archive:before { content: '\e801'; } /* '' */
.sms-icon-attach:before { content: '\e802'; } /* '' */
.sms-icon-book:before { content: '\e803'; } /* '' */
.sms-icon-calendar:before { content: '\e804'; } /* '' */
.sms-icon-cancel:before { content: '\e805'; } /* '' */
.sms-icon-chart1:before { content: '\e806'; } /* '' */
.sms-icon-chart2:before { content: '\e807'; } /* '' */
.sms-icon-close:before { content: '\e808'; } /* '' */
.sms-icon-cloud-upload:before { content: '\e809'; } /* '' */
.sms-icon-contact:before { content: '\e80a'; } /* '' */
.sms-icon-cloud-download:before { content: '\e80b'; } /* '' */
.sms-icon-dark:before { content: '\e80c'; } /* '' */
.sms-icon-light:before { content: '\e80d'; } /* '' */
.sms-icon-delete:before { content: '\e80e'; } /* '' */
.sms-icon-edit:before { content: '\e80f'; } /* '' */
.sms-icon-end:before { content: '\e810'; } /* '' */
.sms-icon-eye-close:before { content: '\e811'; } /* '' */
.sms-icon-eye-open:before { content: '\e812'; } /* '' */
.sms-icon-fax:before { content: '\e813'; } /* '' */
.sms-icon-file:before { content: '\e814'; } /* '' */
.sms-icon-file-fill:before { content: '\e815'; } /* '' */
.sms-icon-folder-minus:before { content: '\e816'; } /* '' */
.sms-icon-folder-plus:before { content: '\e817'; } /* '' */
.sms-icon-gear:before { content: '\e818'; } /* '' */
.sms-icon-heart:before { content: '\e819'; } /* '' */
.sms-icon-home:before { content: '\e81a'; } /* '' */
.sms-icon-image:before { content: '\e81b'; } /* '' */
.sms-icon-left-arrow:before { content: '\e81c'; } /* '' */
.sms-icon-lock:before { content: '\e81d'; } /* '' */
.sms-icon-logout:before { content: '\e81e'; } /* '' */
.sms-icon-menu:before { content: '\e81f'; } /* '' */
.sms-icon-minus:before { content: '\e820'; } /* '' */
.sms-icon-next:before { content: '\e821'; } /* '' */
.sms-icon-noti:before { content: '\e822'; } /* '' */
.sms-icon-notification-off:before { content: '\e823'; } /* '' */
.sms-icon-payment-dividend:before { content: '\e824'; } /* '' */
.sms-icon-people:before { content: '\e825'; } /* '' */
.sms-icon-percentage:before { content: '\e826'; } /* '' */
.sms-icon-phone:before { content: '\e827'; } /* '' */
.sms-icon-plus:before { content: '\e828'; } /* '' */
.sms-icon-prev:before { content: '\e829'; } /* '' */
.sms-icon-print:before { content: '\e82b'; } /* '' */
.sms-icon-refresh:before { content: '\e82c'; } /* '' */
.sms-icon-right-arrow:before { content: '\e82d'; } /* '' */
.sms-icon-right:before { content: '\e82e'; } /* '' */
.sms-icon-save:before { content: '\e82f'; } /* '' */
.sms-icon-scroll:before { content: '\e830'; } /* '' */
.sms-icon-search:before { content: '\e831'; } /* '' */
.sms-icon-send:before { content: '\e832'; } /* '' */
.sms-icon-setting:before { content: '\e833'; } /* '' */
.sms-icon-setting2:before { content: '\e834'; } /* '' */
.sms-icon-share:before { content: '\e835'; } /* '' */
.sms-icon-star:before { content: '\e836'; } /* '' */
.sms-icon-start:before { content: '\e837'; } /* '' */
.sms-icon-states:before { content: '\e838'; } /* '' */
.sms-icon-tips:before { content: '\e839'; } /* '' */
.sms-icon-top-arrow:before { content: '\e83a'; } /* '' */
.sms-icon-trading:before { content: '\e83b'; } /* '' */
.sms-icon-unlock:before { content: '\e83c'; } /* '' */
.sms-icon-arrow-down:before { content: '\e83d'; } /* '' */
.sms-icon-arrow-left:before { content: '\e83e'; } /* '' */
.sms-icon-arrow-right:before { content: '\e83f'; } /* '' */
.sms-icon-arrow-up:before { content: '\e840'; } /* '' */
.sms-icon-diagonal-arrow-left-down:before { content: '\e841'; } /* '' */
.sms-icon-diagonal-arrow-left-up:before { content: '\e842'; } /* '' */
.sms-icon-diagonal-arrow-right-down:before { content: '\e843'; } /* '' */
.sms-icon-diagonal-arrow-right-up:before { content: '\e844'; } /* '' */
.sms-icon-alert-circle:before { content: '\e845'; } /* '' */
.sms-icon-checkmark-circle-2:before { content: '\e846'; } /* '' */
.sms-icon-alert-triangle:before { content: '\e847'; } /* '' */
.sms-icon-more-horizontal:before { content: '\e848'; } /* '' */
.sms-icon-more-vertical:before { content: '\e849'; } /* '' */
.sms-icon-info:before { content: '\e84a'; } /* '' */
.sms-icon-download:before { content: '\e84b'; } /* '' */
.sms-icon-upload:before { content: '\e84c'; } /* '' */
.sms-icon-credit-card:before { content: '\e84d'; } /* '' */
.sms-icon-person-add:before { content: '\e84e'; } /* '' */
.sms-icon-person-delete:before { content: '\e84f'; } /* '' */
.sms-icon-person-done:before { content: '\e850'; } /* '' */
.sms-icon-person-remove:before { content: '\e851'; } /* '' */
.sms-icon-person:before { content: '\e852'; } /* '' */
.sms-icon-folder:before { content: '\e853'; } /* '' */
.sms-icon-trending-down:before { content: '\e854'; } /* '' */
.sms-icon-trending-up:before { content: '\e855'; } /* '' */
.sms-icon-cube:before { content: '\e856'; } /* '' */
.sms-icon-gift:before { content: '\e857'; } /* '' */
.sms-icon-globe:before { content: '\e858'; } /* '' */
.sms-icon-timer:before { content: '\e859'; } /* '' */
.sms-icon-facebook:before { content: '\e85a'; } /* '' */
.sms-icon-linkedin:before { content: '\e85b'; } /* '' */
.sms-icon-twitter:before { content: '\e85c'; } /* '' */
.sms-icon-google:before { content: '\e85d'; } /* '' */
.sms-icon-edit-default:before { content: '\e85e'; } /* '' */
.sms-icon-link:before { content: '\e85f'; } /* '' */
.sms-icon-clock:before { content: '\e860'; } /* '' */
.sms-icon-cut:before { content: '\e861'; } /* '' */
.sms-icon-copy:before { content: '\e862'; } /* '' */
.sms-icon-bulb:before { content: '\e863'; } /* '' */
.sms-icon-pie-chart:before { content: '\e864'; } /* '' */
.sms-icon-bookmark:before { content: '\e865'; } /* '' */
.sms-icon-smartphone:before { content: '\e866'; } /* '' */
.sms-icon-monitor:before { content: '\e867'; } /* '' */
.sms-icon-volume:before { content: '\e868'; } /* '' */
.sms-icon-volume-off:before { content: '\e869'; } /* '' */
.sms-icon-volume-down:before { content: '\e86a'; } /* '' */
.sms-icon-volume-up:before { content: '\e86b'; } /* '' */
.sms-icon-backspace:before { content: '\e86c'; } /* '' */
.sms-icon-undo:before { content: '\e86d'; } /* '' */
.sms-icon-question-mark-circle:before { content: '\e86e'; } /* '' */