//Dividend Page
.dividend-container {
  .primary-btn {
    width: 200px;
  }

  .main-table-container {
    margin-top: 1em;
  }

  .filter-container {
    form {
      .primary-btn {
        width: 100%;
      }
    }
  }
}
