//Tips Page
.intro-container {
  h2 {
    color: var(--primary-100);
  }
}

.info-container {
  text-align: center;

  .sms-card {
    &:hover {
      box-shadow: var(--no-shadow) 0px 8px 24px;
      transition: all ease 0.3s;

      .small {
        font-weight: 500;
        transition: all ease 0.3s;
      }
    }
  }

  .card-body-default-text {
    line-height: 1.5em !important;
    min-height: 60px;
    word-break: break-word;
  }
}

.notice-container {
  .danger-text {
    font-weight: 600;
  }
  ul {
    list-style: decimal;

    li {
      color: var(--body-copy-text);
    }
  }
}
